<%- include("includes/header.ejs", {title:"Music Collection"}); %>

    <h1><%= title %></h1>
    <p>
        <hr>
        <table width="65%">
            <tr>
                <!--<td align="center" width="14%"><a href="/">Home</a></td>-->
                <td align="center" width="14%"><a href="/search">View existing Albums,<br />Tracks,
                        Artists,<br />and Record Companies</a></td>
                <td align="center" width="14%"><a href="/album/add">Add New Album</a></td>
                <td align="center" width="14%"><a href="/track/add">Add New Track</a></td>
                <td align="center" width="14%"><a href="/artist/add">Add New Artist</a></td>
                <td align="center" width="14%"><a href="/recComp/add">Add New Record
                        Company</a></td>
                <td align="center" width="14%"><a href="/about">About</a></td>
            </tr>
        </table>
        <hr></p>
    <br />
    <p>Welcome to my music collection.  This is a small sampling of the music in my collection,
        but it will give you an idea of the type of music I listen to.  This gives me the ability
        to grow my database very easily.
        <br />
        Enjoy your time around the website!
    </p>
    <br />
    <br />
    <p align="center"><img src="/images/music_coll_sm.png" alt="This image is missing"
                           style="width:600px;"></p>

<%- include("includes/footer.ejs"); %>