<%- include("includes/header.ejs", {title:"Music Collection"}); %>

    <h1><%= title %></h1>
    <p>
        <table width="65%">
            <tr>
                <td align="center" width="14%"><a href="/">Home</a></td>
                <td align="center" width="14%"><a href="/search">Search</a></td>
                <td align="center" width="14%"><a href="/add/album">Add New Album</a></td>
                <td align="center" width="14%"><a href="/add/track">Add New Track</a></td>
                <td align="center" width="14%"><a href="/add/artist">Add New Artist</a></td>
                <td align="center" width="14%"><a href="/add/recComp">Add New Record Company</a></td>
                <td align="center" width="14%"><a href="/about">About</a></td>
            </tr>
        </table>
    </p>

<%- include("includes/footer.ejs"); %>