<%- include("../includes/header.ejs", {title:"Music Collection: About"}); %>

    <h1>Music Collection: About</h1>
    <p>
        The goal of this database is to have a central location for my music collection.  I can store the artist (band), albums and tracks they are associated with, record companies that sign contracts with the various artists,
        etc.
    </p>
    <p>
        Each artist will contain the band name, singer’s name, when they were formed, the genre, where they started, and an associated website.  The albums will contain the title, an album cover picture, and the associated recording company that sells the album.  The tracks will contain the title, the duration of the track, the associated album, and the track number for that album.  Each record company will contain the name and location, along with their website (if it
        exists).
    </p>
    <p>
        The relationships are as follows:
        <ol>
            <li>An artist has one or more albums</li>
            <li>An artist sings on one or more tracks</li>
            <li>An artist contracts with one or more record companies</li>
            <li>An album contains one or more tracks</li>
            <li>A record company sells one or more albums</li>
        </ol>
    </p>
    <p>Contact info:
        <br />
        Wayde Jaskela
        <br />
        123 Main Street
        <br />
        Santa Rosa, CA 95404
        <br />
        WJNews@gmail.com
        <br />
    </p>
    <p>
        <a href="http://localhost:3000/images/Project1_ERD.png">Link to ER Diagram image</a>
        <br />
        <br />
        <a href="../images/Project1_Relational_Schema.png">Link to Relational Schema image</a>
        <br />
        <br />
        <a href="/">Return to Home Page</a>
    </p>

<%- include("../includes/footer.ejs"); %>