<%- include("../includes/header.ejs", {title:"Track - Add New"}); %>

<h1>Add New Track</h1>
<form action="/track/insert" method="get">
    <input type="hidden" id="album_id" name="album_id" value="<%= track.album_id %>">
    Track Number: <input id="track_number" name="track_number" type="text" />
    <br />
    <br />
    Title: <input id="title" name="title" type="text" />
    <br />
    <br />
    Duration (xx:xx:xx): <input id="duration" name="duration" type="text" />
    <br />
    <br />
    <input type="submit" />
</form>

<br />
<input class="button" type="button" onclick="window.location.replace
        ('/album/tracks/?album_id=<%=track.album_id %>')"
       value="Cancel and return" />

<%- include("../includes/footer.ejs"); %>